body{
	background-color: lightblue;
	font-style: font-family: 'Oxygen', sans-serif;
	font-size: 18px;
}
.card-title
{
	padding-bottom: 4px;
	text-transform: uppercase;
	text-align: center;
	border: 1px solid black;
	background-color: #4682B4;
}
.card{
	border: 1px solid black;

}
.navbar-brand{
	text-transform: uppercase;
	font-size: 24px;
	color: #CD5C5C;
    text-shadow: 2px 2px #ADD8E6;
}